@import "/styles/variables";
@import "/styles/mixins";

.header {
  position: absolute;
  top: 0;
  height: 45px;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.62);
  z-index: 99;
  padding: 0 20px;

  @include mediumScreen() {
    height: 50px;
    padding: 0 40px;
  }

  @include largeScreen() {
    padding: 0 64px;
  }
}

.nav {
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo_wrapper {
  .logo {
    font-family: "Core Sans G Rounded", sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;

    .kino {
      position: relative;
      color: #fff;
      left: 7px;
    }

    .mo {
      color: $main-color;
    }
  }
}
