@import "/styles/variables";
@import "/styles/mixins";

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $nav-bg;
  color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 3px 2px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

.nav {
  background-color: inherit;
  width: 100%;
  min-height: 45px;
  padding: 10px 15px;

  @include mediumScreen() {
    max-width: 596px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
  }

  @include largeScreen() {
    max-width: 950px;
  }

  .row1 {
    display: flex;
    justify-content: space-between;
  }

  .row2 {
    display: none;
    align-items: center;

    @include mediumScreen() {
      display: none !important;
    }
  }
}

.icons_wrapper {
  display: flex;

  a {
    display: flex;
    place-content: center center;
    width: 32px;
    height: 29px;

    @include mediumScreen() {
      width: 42px;
    }
  }

  .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 20px;
    fill: $white;
    transition: 300ms ease;
    margin-left: 12px;

    &:hover {
      fill: $main-color;
      transition: 300ms ease;
    }

    @include mediumScreen() {
      width: 22px;
    }
  }

  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    @include mediumScreen() {
      width: 22px;
      height: 22px;
    }
  }

  .search_icon_mobile {
    @include mediumScreen() {
      display: none;
    }
  }
}

.search_form_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;

  form {
    position: relative;
    display: flex;
    width: 100%;
  }

  .movie_input {
    height: 20px;
    width: 100%;
    box-shadow: 0px 1px 0px #bdbdc5, inset 0px 1px 2px rgba(26, 26, 29, 0.63);
    border-radius: 4px;
    border: none;
    padding: 4px 24px 4px 6px;
  }

  .search_icon {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 11px;
    height: 11px;
    fill: $grey-1;
  }
}

.links_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.links_wrapper {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  right: 0;
  background: $nav-bg;
  width: 99px;
  min-height: 31px;
  border-radius: 0px 0px 0px 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 7px;
  z-index: -1;

  a {
    transition: 300ms ease;

    &:hover {
      color: $main-color;
      transition: 300ms ease;
    }
  }

  @include mediumScreen() {
    border-radius: 4px;
  }
}

.menu_links_wrapper {
  bottom: -33px;
  transform: translateY(-33px);
}

.user_links_wrapper {
  transform: translateY(-63px);

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-top: 2px;
      margin-bottom: 0;
    }
  }

  .signout_button {
    color: $red-1;
  }
}
