@import "/styles/variables";

.scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, $main-bg 90%, transparent);
  padding-bottom: 6px;

  &::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(240, 6%, 88%, 1);
    border-radius: 30px;
  }
}
