@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispMedium.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispLight.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBlack.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBoldSC.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBoldSC.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBook.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
