@import "/styles/mixins";
@import "/styles/variables";

.h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.5px;
  margin: 20px 0 10px;

  @include mediumScreen() {
    font-size: 24px;
    line-height: 32.68px;
  }
}

.card {
  margin-right: 14px;
}

.hero {
  width: 100%;
  max-width: none !important;
  padding: 0 !important;
  height: 274px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  position: relative;

  @include mediumScreen() {
    height: 310px;
  }

  @include largeScreen() {
    height: 340px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(36, 36, 41, 0) 77.66%, #242429 100%),
      linear-gradient(270deg, rgba(36, 36, 41, 0) 77.66%, #242429 100%),
      linear-gradient(180deg, rgba(36, 36, 41, 0.56) 0%, #242429 100%);

    @include mediumScreen() {
      background: linear-gradient(
          90deg,
          rgba(36, 36, 41, 0) 70.05%,
          #242429 100%
        ),
        linear-gradient(270deg, rgba(35, 35, 36, 0) 70.05%, #242429 98.31%),
        linear-gradient(180deg, rgba(36, 36, 41, 0.56) 0%, #242429 100%);
    }

    @include largeScreen() {
      background: linear-gradient(
          90deg,
          rgba(36, 36, 41, 0) 50%,
          #242829 99.72%,
          #242829 99.72%
        ),
        linear-gradient(270deg, rgba(36, 36, 41, 0) 50%, #242429 98.86%),
        linear-gradient(180deg, rgba(36, 36, 41, 0.56) 62.22%, #242429 100%);
    }
  }

  .row {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include mediumScreen() {
      max-width: 596px;
    }

    @include largeScreen() {
      max-width: 950px;
    }
  }

  .text_wrapper {
    position: absolute;
    width: calc(100% - 110px);
    bottom: 0;
    padding-bottom: 10px;

    @include mediumScreen() {
      width: calc(100% - 170px);
    }

    @include largeScreen() {
      width: calc(100% - 200px);
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -1%;
      line-height: 0.9;

      @include mediumScreen() {
        font-size: 36px;
      }
    }

    .release_year {
      font-size: 14px;
      font-weight: 400;
      color: #bdbdc5;

      @include mediumScreen() {
        font-size: 18px;
      }
    }
  }

  .poster_wrapper {
    position: absolute;
    bottom: calc(165px / -2);
    width: 110px;
    box-shadow: inset 0px 1px 0px #e9eefc;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    right: 0;

    @include mediumScreen() {
      width: 170px;
      bottom: calc(255px / -2);
    }

    @include largeScreen() {
      width: 200px;
      bottom: calc(300px / -2);
    }

    .poster {
      width: 100%;
      border-radius: 4px;
    }
  }
}

.director_container {
  .row {
    width: calc(100% - 110px);
  }

  span {
    display: block;
  }

  .directed_by {
    color: hsla(240, 6%, 76%);
    font-size: 12px;

    @include mediumScreen() {
      font-size: 14px;
    }
  }

  .director {
    font-weight: 600;
    font-size: 14px;

    @include mediumScreen() {
      font-size: 16px;
    }
  }
}

.summary_container {
  .tagline {
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
    margin: 40px 0 10px;
    max-width: 210px;
    color: hsla(240, 6%, 76%, 1);

    @include mediumScreen() {
      font-size: 15px;
      max-width: 346px;
      min-height: 38px;
      line-height: 18.75px;
    }

    @include largeScreen() {
      max-width: 546px;
      min-height: 0;
    }
  }

  .overview {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include largeScreen() {
      max-width: calc(100% - 200px);
    }
  }
}

.player_wrapper {
  position: relative;
  width: 100%;
  max-width: 441px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @include largeScreen() {
    max-width: none;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
  }

  .play_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 76px;
    height: 76px;

    svg {
      width: 100%;
      fill: $white;
    }

    @include mediumScreen() {
      width: 98px;
      height: 98px;
    }

    @include largeScreen() {
      width: 125px;
      height: 125px;
    }
  }

  .video_poster {
    width: 100%;
    border-radius: 20px;
  }

  .player {
    position: absolute;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
}

// .overlay {
//   display: flex;
//   align-items: flex-end;
//   height: 100%;
//   width: 100%;
//   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), $main-bg);
//   padding: 45px 20px 0;

//   @include smallScreen() {
//     padding: 45px 60px 0;
//   }

//   @include mediumScreen() {
//     padding: 50px 90px 0;
//   }

//   @include largeScreen() {
//     padding: 50px 150px 0;
//   }
// }

// .right_wrapper {
//   flex-basis: 100%;
//   overflow: hidden;
//   width: 100%;
// }

// .left_wrapper {
//   width: 120px;

//   @include smallScreen() {
//     width: 150px;
//   }

//   @include mediumScreen() {
//     width: 232px;
//   }
// }

// .title {
//   display: inline-block;
//   font-size: 18px;
//   margin-right: 5px;

//   @include mediumScreen() {
//     font-size: 34px;
//   }
// }

// .release_year {
//   font-size: 16px;
//   color: $white;
//   opacity: 0.6;
//   margin-right: 10px;

//   @include mediumScreen() {
//     font-size: 22px;
//   }
// }

// .certification {
//   display: inline-block;
//   font-size: 12px;
//   border: 1px solid $white;
//   border-radius: 2px;
//   vertical-align: center;
//   padding: 2px 4px 1px;
// }

// .poster {
//   width: 100%;
//   border-radius: 6px;
//   position: relative;
//   top: 60px;

//   @include smallScreen() {
//     top: 75px;
//   }

//   @include mediumScreen() {
//     top: 116px;
//   }
// }

// .movie_details_wrapper {
//   display: flex;
//   color: $white;

//   padding: 10px 20px;

//   @include smallScreen() {
//     padding: 10px 60px;
//   }

//   @include mediumScreen() {
//     padding: 10px 90px;
//   }

//   @include largeScreen() {
//     padding: 10px 150px;
//   }
// }

// .overview_wrapper {
//   padding-right: 20px;
//   width: 100%;
//   max-width: 475px;

//   .tagline {
//     font-size: 14px;
//     letter-spacing: 1px;
//     font-style: italic;
//     margin-bottom: 10px;

//     @include mediumScreen() {
//       font-size: 15px;
//     }
//   }

//   .overview {
//     line-height: 1.2;

//     @include mediumScreen() {
//       font-size: 17px;
//     }
//   }
// }

// .actors_container {
//   margin-top: 30px;
//   overflow: hidden;

//   .actors_heading {
//     font-size: 18px;
//     margin-bottom: 20px;

//     @include mediumScreen() {
//       font-size: 22px;
//     }
//   }

//   .actors_scroller {
//     white-space: nowrap;
//     overflow-x: scroll;
//     overflow-y: hidden;
//     width: 100%;
//     mask-image: linear-gradient(90deg, rgba(36, 36, 41, 1) 80%, transparent);

//     &::-webkit-scrollbar {
//       height: 5px;
//       background-color: transparent;
//     }

//     &::-webkit-scrollbar-thumb {
//       background-color: $main-color;
//       border-radius: 30px;
//     }
//   }

//   .actor {
//     display: inline-block;
//     width: 96px;

//     @include mediumScreen() {
//       margin-right: 10px;
//     }
//   }

//   .actor_image {
//     width: 100%;

//     img {
//       width: 100%;
//     }
//   }

//   .name,
//   .character {
//     font-size: 12px;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//   }
// }
