@import "/styles/variables";

.main {
  position: relative;
  min-height: 100vh;
  background: url(../public/images/interstellar.jpg) no-repeat center;
  background-size: cover;
}

.errors_wrapper {
  color: $main-color;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 25px;

  li {
    list-style-type: disc;
    list-style-position: inside;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.footer {
  padding: 20px;
  min-height: 61px;
  font-size: 16px;
  text-align: center;

  a {
    cursor: pointer;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
